__pycache__/
*.pyc
.ipynb_checkpoints/
.env
.venv/
data/raw/*
data/raw_videos/*
data/raw_frames/*
data/selected_frames/*
data/curated
data/processed
data/crops/*
data/degraded/*
data/processed/*
outputs/models/*
outputs/samples/*
*.mp4
*.mpg
*.mkv
*.avi
!data/raw/.gitkeep
!data/processed/.gitkeep
!outputs/models/.gitkeep
!outputs/samples/.gitkeep
!outputs/figures/.gitkeep
